.body{
  background-image: url('../Backgrounds/Investorbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: sorce sans pro;
  font-size: 1.5rem;
  font-weight: 400;
}

.header {
  display: flex;
  background: linear-gradient(to bottom, rgba(111, 143, 238, 0.7944444444444444) 1%, rgba(111, 143, 238, 0.25) 61%, rgba(111, 143, 238, 0) 100%);
  padding-top: 1.25rem;
  color: white;
}

#one {
  width: 4.375rem;
  height: 4.375rem;
  padding-left: 53.125rem;
  padding-top: 1.25rem;
}

#two {
  width: 3.125rem;
  height: 3.125rem;
  padding-top: 1.875rem;
}

.flex {
  display: flex;
}

#three {
  width: 1.875rem;
  height: 1.875rem;
  padding-top: 1.25rem;
  padding-left: 3.125rem;
}

#four {
  width: 1.875rem;
  height: 1.875rem;
  padding-top: 1.25rem;
  padding-left: 3.125rem;
}

#five {
  width: 1.875rem;
  height: 1.875rem;
  padding-top: 1.25rem;
  padding-left: 3.125rem;
}

.all {
  background-color: black;
  color: white;
  width: 18.75rem;
  height: 36.875rem;
}

.navbar {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.navelements {
  padding-left: 5.625rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border: solid 0.125rem white;
}

.navelements:hover {
  margin-left: 0.625rem;
}

#active {
  background-color: white;
  color: black;
  border: solid 0.125rem black;
}

.scholars {
  width: 25rem;
  height: 18.75rem;
  background-color: white;
  padding-left: 1.25rem;
  margin-left: 6.25rem;
}

.one {
  display: flex;
}

.two {
  display: flex;
}

.three {
  display: flex;
}

.projects {
  width: 25rem;
  height: 15.625rem;
  background-color: grey;
  color: black;
  margin-left: 4.375rem;
  padding-left: 1.25rem;
  margin-top: 3.4375rem;
}

.block {
  background: #00000252;
  margin-left: 3.125rem;
  padding-right: 3.125rem;
  display: flex;
  width: 62.5rem;
}
