.body {
  background-image: url("../Backgrounds/Investorbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.signin {
  display: flex;
  background: linear-gradient(
    to bottom,
    rgba(111, 143, 238, 0.7944444444444444) 1%,
    rgba(111, 143, 238, 0.25) 61%,
    rgba(111, 143, 238, 0) 100%
  );
}

.signin > h1 {
  margin-top: 3.125rem;
  margin-left: 1.875rem;
  font-family: sorce sans pro;
  font-size: 2.25rem;
  font-weight: 400;
  color: white;
}

.signin > p {
  margin-top: 6.25rem;
  margin-left: 18.75rem;
  padding-left: 5rem;
  font-family: sorce sans pro;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.signin > a {
  margin-top: 6.25rem;
  margin-left: 0rem;
  color: #0099ff;
  font-family: sorce sans pro;
  font-size: 1.5rem;
  font-weight: 400;
}

.box input {
  display: flex;
  width: 43.75rem;
  padding-left: 1.875rem;
  border: 0.3125rem solid black;
  font-family: sorce sans pro;
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  box-sizing: border-box;
  margin-bottom: 0.625rem;
  margin-left: 2.9375rem;
  margin-right: 2.9375rem;
  cursor: pointer;
}

.box {
  font-family: sorce sans pro;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 4.375rem;
  display: inline-block;
  margin-left: 21.875rem;
  padding: 0.3125rem;
  padding-top: 3.125rem;
  background: #55565c66;
  color: white;
}

#two {
  display: flex;
  align-items: center;
  font-family: sorce sans pro;
}

#two input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  padding-left: 1.25rem;
  accent-color: green;
}

#one {
  color: #5c6ac4;
  align-content: center;
  position: relative;
  height: 4.375rem;
}

button {
  background-color: yellow;
  border: 0.3125rem solid red;
  border-radius: 3.125rem;
  width: 12.5rem;
  height: 3.75rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: sorce sans pro;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box > p {
  align-content: center;
  padding-left: 7.5rem;
}

.box > a {
  color: #0099ff;
}

#two > a {
  color: #0099ff;
}
