.page-container {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.page-container {
  background-image: url("../Backgrounds/Investorbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background: linear-gradient(
    to bottom,
    rgba(111, 143, 238, 0.79) 0%,
    rgba(111, 143, 238, 0.25) 64%,
    rgba(111, 143, 238, 0) 100%
  );
  color: white;
  /* justify-content: space-around; */
  align-items: center;
  padding: 20px;
}

.header h1 {
  color: white;
}

.header p {
  padding-top: 20px;
  color: white;
}

.header a {
  padding-top: 20px;
  color: #0099ff;
  text-decoration: none;
}

.wallet-button {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.wallet-button button {
  background-color: yellow;
  border: 5px solid red;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
}
