body {
  background-image: url("../Backgrounds/scholarbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.signin {
  display: flex;
  background: linear-gradient(
    to bottom,
    rgba(111, 143, 238, 0.7944444444444444) 1%,
    rgba(111, 143, 238, 0.25) 61%,
    rgba(111, 143, 238, 0) 100%
  );
}
.signin > h1 {
  margin-top: 50px;
  margin-left: 30px;
  font-family: sorce sans pro;
  font-size: 36px;
  font-weight: 400;
  color: white;
}
.signin > p {
  margin-top: 100px;
  margin-left: 300px;
  padding-left: 80px;
  font-family: sorce sans pro;
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.signin > a {
  margin-top: 100px;
  margin-left: 0px;
  color: #0099ff;
  font-family: sorce sans pro;
  font-size: 24px;
  font-weight: 400;
}
.box input {
  display: flex;
  width: 700px;
  padding-left: 30px;
  border: 5px solid black;
  font-family: sorce sans pro;
  font-size: 24px;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 47px;
  margin-right: 47px;
  cursor: pointer;
}
.box {
  font-family: sorce sans pro;
  font-size: 24px;
  font-weight: 300px;
  margin-top: 70px;
  display: inline-block;
  margin-left: 350px;
  padding: 5px;
  padding-top: 50px;
  background: #55565c66;
  color: white;
}

#two {
  display: flex;
  align-items: center;
  font-family: sorce sans pro;
}

#two input[type="checkbox"] {
  width: 24px;
  height: 24px;
  padding-left: 20px;
  accent-color: green;
}
#one {
  color: #5c6ac4;
}
button {
  background-color: yellow;
  border: 5px solid red;
  border-radius: 50px;
  width: 200px;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  font-family: sorce sans pro;
  cursor: pointer;
}
#one {
  align-content: center;
  position: relative;
  height: 70px;
}
button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box > p {
  align-content: center;
  padding-left: 120px;
}
.box > a {
  color: #0099ff;
}
#two > a {
  color: #0099ff;
}
